// LocationAwareApp.less

.LocationAwareApp {
  // color: white;
  // background-color: #353535; // #1e1e1e;

  h2 {
    color: #5485a7; // #345267; // #e3e3e3; // #cfcfcf;
  }

  h3 {
      color: #d0d0d0; // color: #B9C9D3; // #c8c8c8; // #F2F2F2; // #8DBCDB;; // #8CBEE0; // #B1D8F2; // #B0D6F0;
    }

  .InfoBox {
    hr {
      padding: 1.5em 0 0 0;
      border-top: 2px solid #f2f2f2;
      margin: 1em 0 0.0em 0;
    }
  }

  .carousel {
    background-color: #345267; // #67B2CF; // rgb(55, 147, 182); // #777;
  }
}
