// Projects.less

@import '../variables.less';
@import '../less-mixins-and-utils.less';

body {
  margin-top: 50px;
}

.Projects {
  @media
  (max-width: 767px),
  (max-device-width: 767px) {
    margin-bottom: 1em;
  }

  h2 {
    margin: 0.5em 0 0.35em 0;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: white;
    text-decoration: none;
  }

  .row {
    margin-top: 2em;
    margin-bottom: 1.0em;
  }

  .ProjectCoverImageContainer {
    .responsive-resize-outer-element(56.25%);
    margin-bottom: 2em;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-bottom: 1em;
    }
  }

  .ProjectCoverImage {
    .responsive-resize-inner-element;
    background-size: cover;
  }
}
