// Projects.less

@import '../variables.less';

body {
  margin-top: @navigationBarHeight;
}

.Projects {
  border-top: 1px solid #dfdfdf;

  h2 {
    margin: 0.5em 0 0.35em 0;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: white;
    text-decoration: none;
  }

  .row {
    margin-top: 2.25em;
    margin-bottom: 1.125em;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-top: 1.125em;
      margin-bottom: 0;
    }
  }

  .ProjectCoverImageContainer {
    margin-bottom: 1.125em;
  }
}
