.Projects {
  .row {
    margin-top: 2em;
    margin-bottom: 1.0em;
  }

  .InfoBox {
    h3 {
      color: #cfcfcf;
      font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
      font-size: 1.55em;
      font-weight: 800;
      line-height: 1.1em;
      margin-top: 0;
      margin-bottom: 0.15em;
      text-transform: uppercase;
    }

    p {
      color: #8e8e8e; // #494949;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 2.5em;
      line-height: 0.87em;
      font-weight: 300;
      margin-bottom: 0.6em;
    }
  }

  .carousel {
    img {
        margin: 0 auto;
    }
  }
}
