# Git uses this file to determine which files and directories to ignore
# https://help.github.com/articles/ignoring-files

build
bower_components
node_modules
npm-debug.log

## WebStrom
.idea/
*.ipr
*.iws
*.iml


# Visual Studio
*.suo
*.user
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
build/
bld/
[Bb]in/
[Oo]bj/