// LondonTravelGuide.less

.LondonTravelGuide {
  color: white;
  background-color: #345267; // hsl(205, 52%, 52%);

  .InfoBox {
    h3 {
      color: #8DBCDB;; // #8CBEE0; // #B1D8F2; // #B0D6F0;
    }

    p {
      color: #4E81A6; // #487FA8; #3D7BA8;
    }
  }
}