// Cover.less

@import '../variables.less';
@import '../less-mixins-and-utils.less';

body {
  margin-top: @navigationBarHeight;
}

footer,
.Footer {
  @media
  (max-width: 767px),
  (max-device-width: 767px) {
    margin-top: 0 !important;
  }
}

@keyframes TitleTextKeyframesLight {
  0% {
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: white !important;
  }

  100% {
    fill-opacity: 1;
    stroke: transparent;
    stroke-opacity: 0;
  }
}

@keyframes TitleTextKeyframesDark {
  0% {
    fill-opacity: 0;
    stroke: rgb(61, 61, 61);
  }

  100% {
    fill-opacity: 1;
    stroke: transparent;
  }
}

#UserExperienceDesignCover-SVG-Final,
#ProjectsCover-SVG-Final {
  animation: 0.85s TitleTextKeyframesDark ease-in-out;
  stroke-width: 2;
  stroke: transparent;
}

#SoftwareDevelopmentCover-SVG-Final {
  animation: 0.85s TitleTextKeyframesLight ease-in-out;
  stroke-width: 2;
  stroke: white !important;
  stroke-opacity: 0;
}

.Cover {
  background-size: 100% auto; // Legacy browsers
  background-size: cover;     // Modern browsers
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  transform-style: preserve-3d;
  height: 655px;

  @media
  (max-width: 1199px),
  (max-device-width: 1199px) {
    height: 560px;
  }

  @media
  (max-width: 991px),
  (max-device-width: 991px) {
    height: 410px;
  }

  @media
  (max-device-width: 680px) and
  (orientation: landscape) {
    height: 300px;
  }

  .CoverInner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    color: @accentColorSecondary;

    @media
    (orientation: landscape) and
    (max-device-width: 560px) {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
      font-size: 1em;
    }
  }

  a,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }

  .SectionTitleContainer,
  .SectionTitleContainer:hover,
  .SectionTitleContainer:active,
  .SectionTitleContainer:visited {
    display: block;
    // margin-top: -25px; // 50% of navigation bar height
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;

    @media
    (max-width: 590px),
    (max-device-width: 590px) {
      max-width: 75%;
    }

    @media
    (max-width: 480px),
    (max-device-width: 480px) {
      max-width: 100%;
    }

    @media
    (max-device-width: 680px) and
    (orientation: landscape) {
      max-width: 55%;
    }

    .SectionTitleResponsiveElement {
      width: 100%;
      position: relative;

      svg,
      img {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  a.MoreInformation,
  a.MoreInformation:hover,
  a.MoreInformation:active,
  a.MoreInformation:visited {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.125em;
    color: white;
    background-color: @accentColorPrimary;
    padding: 0.695em 1.5em;
    margin-top: 1em;
    border-radius: 26px;
    transition: all 0.3s ease-in-out;
  }

  a.MoreInformation:hover {
    background-color: @linkColorPrimaryHover;
  }
}

.Cover.UserExperienceDesignCover {
  background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-1280px.jpg');

  @media
  (min-width: 1281px),
  (min-height: 901px) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-2560px.jpg');
  }

  @media
  (min-width: 1000px) and
  (min-device-pixel-ratio: 1.5) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-2560px.jpg');
  }

  @media
  (min-width: 2800px) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-4K.jpg');
  }

  @media
  (min-width: 1920px) and
  (min-device-pixel-ratio: 1.5) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-4K.jpg');
  }

  @media
  (orientation: portrait) and
  (max-width: 640px) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-Narrow-1280px.jpg');
  }

  /*
  @media
  (orientation: portrait) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-Narrow-1280px.jpg');
  }

  @media
  (orientation: portrait) and
  (min-width: 1281px) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-Narrow-2560px.jpg');
  }

  @media
  (orientation: portrait) and
  (min-width: 641px) and
  (min-device-pixel-ratio: 1.5) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-Narrow-2560px.jpg');
  }

  @media
  (orientation: portrait) and
  (min-width: 2561px) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-Narrow-4K.jpg');
  }

  @media
  (orientation: portrait) and
  (min-width: 1281px) and
  (min-device-pixel-ratio: 1.5) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-Narrow-4K.jpg');
  }

  @media
  (min-height: 800px) and
  (max-width: 1000) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-Narrow-1280px.jpg');
  }

  @media
  (min-height: 1000px) and
  (max-width: 1200) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-Narrow-1280px.jpg');
  }

  @media
  (min-height: 1200px) and
  (max-width: 1400) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/User-Experience-Cover-No-Text-v3-Narrow-1280px.jpg');
  }
  */

  .SectionTitleContainer {
    width: 499px;

    .SectionTitleResponsiveElement {
      padding-top: 38.677355%;

      .SectionTitleResponsiveInnerElement {
      }
    }
  }

  @uxDesignShadow: 0 0 10px white;

  p {
    text-shadow: @uxDesignShadow;
  }

  a.MoreInformation,
  a.MoreInformation:hover,
  a.MoreInformation:active,
  a.MoreInformation:visited {
    box-shadow: @uxDesignShadow;
  }
}

.Cover.SoftwareDevelopmentCover {
  background-color: #2FB475;

  background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/Cover-Background-Software-Development-v2.jpg');
  
  // Background image for browsers that support SVG
  background-image:
    url(http://static.tonikarttunen.com/static/src/components/Cover/images/Cover-Background-Software-Development-v2.svg),
    linear-gradient(transparent, transparent);

  @softwareDevelopmentCoverShadowDark: 0 0 6px darken(#44B27B, 20%);
  @softwareDevelopmentCoverShadowLight: 0 0 7px #44B27B;

  p {
    color: white;
    text-shadow: @softwareDevelopmentCoverShadowDark;
  }

  .SectionTitleContainer {
    width: 607px;

    .SectionTitleResponsiveElement {
      padding-top: 21.087315%;
    }
  }

  a.MoreInformation,
  a.MoreInformation:hover,
  a.MoreInformation:active,
  a.MoreInformation:visited {
    color: @accentColorPrimary;
    background-color: white;
    box-shadow: @softwareDevelopmentCoverShadowLight;
  }

  a.MoreInformation:hover {
    background-color: darken(white, 8.5%);
  }

  .ScrollToNextSectionArrowButton {
    color: white;

    &:hover {
      color: darken(white, 8.5%);
    }
  }
}

.Cover.ProjectsCover {
  margin-bottom: 1.625em;
  border-bottom: 1px solid #dfdfdf;

  @media
  (max-width: 767px),
  (max-device-width: 767px) {
    margin-bottom: 1.5em;
  }

  .SectionTitleContainer {
    width: 410px;

    .SectionTitleResponsiveElement {
      padding-top: 15.609756%;
    }
  }

  background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/Cover-Background-Projects-Wide-v5-1280px.jpg');

  @media
  (min-width: 1281px),
  (min-height: 901px) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/Cover-Background-Projects-Wide-v5-2560px.jpg');
  }

  @media
  (min-width: 1000px) and
  (min-device-pixel-ratio: 1.5) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/Cover-Background-Projects-Wide-v5-2560px.jpg');
  }

  @media
  (min-width: 2800px) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/Cover-Background-Projects-Wide-v5-4K.jpg');
  }

  @media
  (min-width: 1920px) and
  (min-device-pixel-ratio: 1.5) {
    background-image: url('http://static.tonikarttunen.com/static/src/components/Cover/images/Cover-Background-Projects-Wide-v5-4K.jpg');
  }
}
