// DetailViewCover.less

.DetailViewCover {
  height: 680px;

  @media
  (max-width: 1199px),
  (max-device-width: 1199px) {
    height: 560px;
  }

  @media
  (max-width: 991px),
  (max-device-width: 991px) {
    height: 430px;
  }

  @media
  (max-width: 767px),
  (max-device-width: 767px) {
    height: 449px;
  }

  @media
  (max-width: 700px),
  (max-device-width: 767px) {
    height: 400px;
  }

  @media
  (max-width: 600px),
  (max-device-width: 600px) {
    height: 340px;
  }

  @media
  (max-width: 500px),
  (max-device-width: 500px) {
    height: 280px;
  }

  @media
  (max-width: 400px),
  (max-device-width: 400px) {
    height: 220px;
  }

  @media
  (max-width: 320px),
  (max-device-width: 320px) {
    height: 173px;
  }

  .DetailViewCoverContents {
    height: 680px;

    @media
    (max-width: 1199px),
    (max-device-width: 1199px) {
      height: 560px;
    }

    @media
    (max-width: 991px),
    (max-device-width: 991px) {
      height: 430px;
    }

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      height: 449px;
    }

    @media
    (max-width: 700px),
    (max-device-width: 767px) {
      height: 400px;
    }

    @media
    (max-width: 600px),
    (max-device-width: 600px) {
      height: 340px;
    }

    @media
    (max-width: 500px),
    (max-device-width: 500px) {
      height: 280px;
    }

    @media
    (max-width: 400px),
    (max-device-width: 400px) {
      height: 220px;
    }

    @media
    (max-width: 320px),
    (max-device-width: 320px) {
      height: 173px;
    }
  }
}
