.NotFound {
  margin-bottom: 1em;

  h1 {
    text-transform: none;
    font-size: 4em;
    color: 4a4a4a;
    margin-bottom: 0.33em;
    color: #3e3e3e;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      font-size: 2em;
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }

  a,
  a:hover,
  a:focus,
  a:active {
    display: inline-block;
    padding: 0.5em 1.25em 0.5em 0.95em;
    font-weight: 400;
    color: #5493BE;
    text-decoration: none;
    border: 1px solid #5493BE;
    border-radius: 5px;

    .LinkText {
      font-size: 1.25em;
    }
  }
}