// HelsinkiGraph.less

.HelsinkiGraph {
  color: white;
  background-color: rgb(55, 147, 182);

  h2 {
    color: #c6e7fe; // #D0EDF9;
  }

  .InfoBox {
    h3 {
      color: #BAECFF; // #C0EAF9; // #A8D3E4; // #BAECFF
    }

    p {
      color: #6EC3DF; // #7BC7E0; // #99CCDD;
    }
  }
}