// HelsinkiGraph.less

@import (less) '../../components/Header/HeaderWithWhiteText.less';
@import (less) '../../components/Footer/FooterForColorFulPage.less';

@backgroundColor: rgb(55, 147, 182);

header .NavigationBar,
.Header .NavigationBar,
.HelsinkiGraph {
  background-color: @backgroundColor;
}

header,
.Header {
  .NavigationBar {
    border-bottom: 1px solid @backgroundColor;

    .NavigationBarRight .NavigationBarRightContainer .NavigationLink.selected {
      color: #13191E !important;
    }
  }
}

.HelsinkiGraph {
  color: white;

  h2 {
    color: white;
  }

  .InfoBox {
    h3 {
      color: #BAECFF;
    }

    p {
      color: #6EC3DF !important;
    }
  }
}