// PersonalFinance.less

@import (less) '../../components/Header/HeaderWithWhiteText.less';
@import (less) '../../components/Footer/FooterForColorFulPage.less';

@backgroundColor: #45A080;

header .NavigationBar,
.Header .NavigationBar,
.PersonalFinance {
  background-color: @backgroundColor;
} 

header,
.Header {
  .NavigationBar {
    border-bottom: 1px solid @backgroundColor;

    .NavigationBarRight .NavigationBarRightContainer .NavigationLink.selected {
      color: #B0F5DD !important;
    }
  }
}

.PersonalFinance {
  color: white;

  h2 {
    color: #B0F5DD;
  }

  .InfoBox {
    h3 {
      color: #9BEACE;
    }

    p {
      color: #6CCFAC !important;
    }
  }
}