// Home.less

.Home {
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }

  .Services {
    background-color: #ddd;

    h2 {
      color: white;
      font-weight: 300;
      font-size: 2.25em;
    }
  }

  .FeaturedProjects {
    background-color: #ccc;
  }
}
