.Contact {
  margin: 1em 0 1em 0;

  @media
  (max-width: 768px),
  (max-device-width: 768px) {
    margin: 1em 0 1em 0;
  }

  .ContactRow {
    padding: 0.1em 0;
  }

  .IconContainer,
  .TextContainer {
    vertical-align: middle;
  }

  .IconContainer {
    font-size: 3em;
    width: 1.25em;
    height: 1em;
    line-height: 1em;
  }

  .TextContainer {
    font-size: 1.15em;
    font-weight: 300;
  }

  // 500px logo
  .icon-500px {
    margin-top: -0.1em;
    display: block;

    &:before {
      font-family: sans-serif;
      content: "5∞";
      font-weight: 800;
      font-size: 0.7em;
    }
  }
}
