// SoftwareDevelopment.less

@import '../variables.less';
@import '../less-mixins-and-utils.less';

.SoftwareDevelopmentDetailViewCover {
  height: auto !important;

  .DetailViewCoverContents {
    height: auto !important;
  }

  #SoftwareDevelopmentDetailViewCoverImage {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-top: 0.5em;
      margin-bottom: 0;
    }
  }
}

.SoftwareDevelopment {
  padding-top: 2em;

  @media
  (max-width: 767px),
  (max-device-width: 767px) {
    padding-top: 2.5em;
  }
}
