// Solutions.less

.Solutions {
  color: white;
  background-color: #45A080;

  .row {
    margin-bottom: 4.0em;

    @media
    (max-width: 768px),
    (max-device-width: 768px) {
      margin-bottom: 2.0em;
    }
  }

  h2 {
    color: white;
    margin-bottom: 0.26em;
    margin-top: 0.6em;
    padding: 0;
  }

  ul {
    color: #C7FAC3;
    margin: 0.5em 0 0 1.1em;
    padding: 0;
  }
}
