// Header.less

@import '../variables.less';
@import '../less-mixins-and-utils.less';

@headerTextColor: #a7a7a7; // #909090;

header,
.Header {
  .unselectable;
  color: @headerTextColor;
  font-weight: 700;

  a,
  a:active,
  a:focus,
  a:visited {
    color: @headerTextColor !important;
    text-decoration: none;
  }

  .NavigationBar {
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid white; // #f4f4f4;
    font-size: 1.0625em;
    line-height: 1;
    height: 50px;
    overflow: hidden;
    width: 100%;
    z-index: 5000;

    .NavigationBarLeft {
      float: left;

      .LogoContainer {
        padding: 15px 15px 15px 0;
        position: relative;
        top: 10px;

        @media
        (max-width: 400px),
        (max-device-width: 400px) {
          padding: 15px 0;
        }

        .Logo {
          width: 36px;
          height: 36px;
          background-size: 100% 100%;
          display: inline-block;
          margin-right: 8px;
          margin-top: -3px;
          vertical-align: middle;
          
          // Legacy browsers
          background-image:
            url(http://static.tonikarttunen.com/static/src/components/Header/images/Header-Logo-Light-Text.png);
          // Modern browsers
          background-image:
            url(http://static.tonikarttunen.com/static/src/components/Header/images/Header-Logo-Light-Text.svg),
            linear-gradient(transparent, transparent);

          @media
          (max-width: 991px),
          (max-device-width: 991px) {
            margin-right: 6px;
          }
        }
      }
    }

    .NavigationBarRight {
      float: right;
      text-transform: uppercase;

      .NavigationBarRightContainer {
        position: relative;
        top: 16px;

        .NavigationLink {
          padding: 15px 0 15px 25px;

          @media
          (max-width: 991px),
          (max-device-width: 991px) {
            padding: 15px 0 15px 15px;
          }

          &.MenuToggle {
            @media
            (max-width: 400px),
            (max-device-width: 400px) {
              padding: 15px 0;
            }
          }
        }
      }
    }
  }
}
