// Header.less

@import '../variables.less';
@import '../less-mixins-and-utils.less';

@headerTextColor: #909090;

header,
.Header {
  .unselectable;
  color: @headerTextColor;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media
  (max-width: 991px),
  (max-device-width: 991px) {
    letter-spacing: 0;
  }

  a,
  a:active,
  a:focus,
  a:visited {
    color: @headerTextColor !important;
    text-decoration: none;
  }

  .NavigationBar {
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #f4f4f4;
    font-size: 1.0625em;
    line-height: 1;
    height: 50px;
    overflow: hidden;
    width: 100%;
    z-index: 5000;

    .NavigationBarLeft {
      float: left;

      .LogoContainer {
        padding: 15px 15px 15px 0;
        position: relative;
        top: 10px;

        @media
        (max-width: 400px),
        (max-device-width: 400px) {
          padding: 15px 0;
        }

        @media
        (max-width: 300px),
        (max-device-width: 300px) {
          text-transform: none;
        }

        .Logo {
          width: 36px;
          height: 36px;
          background-size: 100% 100%;
          display: inline-block;
          margin-right: 8px;
          margin-top: -3px;
          vertical-align: middle;

          @media
          (max-width: 991px),
          (max-device-width: 991px) {
            margin-right: 6px;
          }
        }
      }
    }

    .NavigationBarRight {
      float: right;

      .NavigationBarRightContainer {
        position: relative;
        top: 16px;

        .NavigationLink {
          padding: 15px 0 15px 25px;

          @media
          (max-width: 991px),
          (max-device-width: 991px) {
            padding: 15px 0 15px 15px;
          }

          &.MenuToggle {
            font-weight: 700;

            @media
            (max-width: 767px),
            (max-device-width: 767px) {
              padding: 15px 0 15px 15px;
            }

            @media
            (max-width: 400px),
            (max-device-width: 400px) {
              padding: 15px 0;
            }
          }
        }
      }
    }
  }
}
