// Header with white text

header,
.Header {
  color: white;

  a,
  a:active,
  a:focus,
  a:visited {
    color: white !important;
    text-decoration: none;
  }

  a:hover {
    color: darken(white, 10%) !important;
  }

  .NavigationBar {
    background-color: #333;
    border-bottom: 1px solid #222;

    .NavigationBarLeft {
      .LogoContainer {
        .Logo {
          background-position: -72px 0 !important;
        }

        &:hover,
        &:active {
          .Logo {
            background-position: -216px 0 !important;
          }
        }
      }
    }

    .NavigationBarRight .NavigationBarRightContainer .NavigationLink.MenuToggle:hover {
      color: darken(white, 10%) !important;
    }
  }
}