// InteractionDesignAndEvaluation.less

.InteractionDesignAndEvaluation {
  color: white;
  background-color: #353535;
  
  h2 {
    color: #e3e3e3; // #cfcfcf;
  }

  .InfoBox {
    h3 {
      color: #cfcfcf;
    }

    p {
      color: #8e8e8e; // #494949;
    }
  }
}
