// Footer

@import '../variables.less';

footer,
.Footer {
  padding-top: 0;
  padding-bottom: 0.5em;

  @media
  (max-width: 767px),
  (max-device-width: 767px) {
    padding-top: 0;
    margin-top: -0.5em;
  }

  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  p {
    font-size: 0.8em;
    color: #b1b1b1;
  }
}
