// Blog.less

body {
  margin-top: 50px;
}

.Blog {
  margin-bottom: 2em;

  @media
  (max-width: 767px),
  (max-device-width: 767px) {
    margin-bottom: 1em;
  }

  .NotFound {
    margin-bottom: -1em;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-bottom: 0.25em;
    }
  }

  a.MoreInformation,
  a.MoreInformation:active,
  a.MoreInformation:visited {
    color: @linkColorPrimary !important;
    border: 1px solid @linkColorPrimary !important;
    display: inline-block;
    padding: 0.417em 0.9em;
    border-radius: 21px;
    // margin-top: -9px;
    transition: all 0.3s ease-in-out;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-top: -6px;
    }
  }

  a.MoreInformation:hover {
    color: white !important;
    background-color: @linkColorPrimary !important;
  }

  h1 {
    margin-bottom: 0.75em;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-bottom: 1em;
    }
  }

  h2 {
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 0;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      font-size: 2em;
      margin-top: 0.25em;
      margin-bottom: 0;
    }
  }

  .lead p,
  .lead,
  p.lead {
    font-size: 24px;
    margin-bottom: 18px;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      font-size: 24px;
      margin-bottom: 18px;
    }
  }

  .CoverImage {
    margin-bottom: 32px;
  }
}