// Blog.less

body {
  margin-top: 50px;
}

.Blog {
  margin-bottom: 2em;

  @media
  (max-width: 767px),
  (max-device-width: 767px) {
    margin-bottom: 1em;
  }

  .NotFound {
    margin-bottom: -1em;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-bottom: 0.25em;
    }
  }

  a.MoreInformation,
  a.MoreInformation:active,
  a.MoreInformation:visited {
    color: @linkColorPrimary !important;
    border: 1px solid @linkColorPrimary !important;
    display: inline-block;
    padding: 0.417em 0.9em;
    border-radius: 21px;
    // margin-top: -9px;
    transition: all 0.3s ease-in-out;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-top: -6px;
    }
  }

  a.MoreInformation:hover {
    color: white !important;
    background-color: @linkColorPrimary !important;
  }

  h1 {
    margin-bottom: 0.75em;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-bottom: 1em;
    }
  }

  h2 {
    font-weight: 200;
    font-size: 3em;
    margin-bottom: 0.375em; // 18px

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      font-size: 2em;
      margin-top: 0.25em;
      margin-bottom: 0;
    }
  }

  h3 {
    margin-top: 0.75em; // 18px
    margin-bottom: 0;
  }

  .lead p,
  .lead,
  p.lead {
    font-size: 24px;
    margin-bottom: 18px;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      font-size: 21px;
      margin-bottom: 18px;
    }
  }

  .CoverImage {
    margin-bottom: 32px;
  }

  .Date {
    color: #a7a7a7;
    font-size: 2.5em;
    line-height: 1;
    margin-top: 4px;

    @media
    (max-width: 991px),
    (max-device-width: 991px) {
      font-size: 2em;
      margin-bottom: 18px;
      margin-top: 0;
    }

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      font-size: 14px;
      margin-bottom: 9px;
      line-height: 1.444;
    }

    .Year,
    .Month,
    .Day {
      display: inline-block;
    }

    .Month {
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      padding-left: 0.4em;
      padding-right: 0.3em;
      color: #b7b7b7;

      @media
      (max-width: 767px),
      (max-device-width: 767px) {
        font-weight: 400;
        text-transform: none;
        letter-spacing: 0;
        padding-left: 0.35em;
        padding-right: 0.35em;
        color: #a7a7a7;
      }
    }

    .Year,
    .Day {
      font-weight: 300;
      letter-spacing: -0.1em;

      @media
      (max-width: 767px),
      (max-device-width: 767px) {
        font-weight: 400;
        letter-spacing: 0;
      }
    }
  }

  .InfoBox {
    margin-top: 25px;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-top: 18px;
    }

    h3 {
      font-size: 1.5em;
      font-weight: 700;
      line-height: 0.94;
      margin-top: 0;
      margin-bottom: 0.2em;
      text-transform: uppercase;
      color: #bfbfbf;
    }

    p {
      color: #676767;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 2.5em;
      line-height: 0.87;
      font-weight: 300;
      margin-bottom: 0.565em;

      @media
      (max-width: 767px),
      (max-device-width: 767px) {
        font-size: 2.0em;
      }

      a,
      a:hover,
      a:active,
      a:focus {
        text-decoration: none;
      }
    }
  }
}