// Viima.less

.Viima {
  .FunAndEngaging {
    background-image: url(http://static.tonikarttunen.com/static/src/components/Viima/images/Viima-Animation.jpg);

    @media
    (min-device-pixel-ratio: 1.5) and
    (min-device-width: 1024px) {
      background-image: url(http://static.tonikarttunen.com/static/src/components/Viima/images/Viima-Animation-2x.jpg);
    }
  }

  .TailoredForEachClient {
    background-image: url(http://static.tonikarttunen.com/static/src/components/Viima/images/Viima-Tailored-for-Each-Client.jpg);

    @media
    (min-device-pixel-ratio: 1.5) and
    (min-device-width: 1024px) {
      background-image: url(http://static.tonikarttunen.com/static/src/components/Viima/images/Viima-Tailored-for-Each-Client-2x.jpg);
    }
  }
}