// CategoryDetailView.less

.CategoryDetailView {
  margin-bottom: 2em;

  @media
  (max-width: 991px),
  (max-device-width: 991px) {
    margin-bottom: 1em;
  }

  @media
  (max-width: 767px),
  (max-device-width: 767px) {
    margin-bottom: 0;
  }

  h2 {
    margin: 0.25em 0 0.5em 0;
  }
}