// ProjectMaster.less

@import '../../variables.less';
@import '../../less-mixins-and-utils.less';
@import '../Project.less';

.Project.ProjectMaster {
  .CommonMasterStyles;

  .RecentCaseStudies {
    margin-bottom: 3px;

    @media
    (min-width: 768px) {
      margin-bottom: 3em;
    }
  }

  &.Compact {
    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-bottom: 0.575em;
    }
  }
}

.ProjectMasterContainer {
  &.Compact {
    // border-bottom: 1px solid @accentColorSecondary;
    padding-bottom: 1.5em;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
    	padding-bottom: 0.5em;
      // border-bottom: 2px solid #f3f3f3;
    }

    .ViewAllContainer {
      @media
      (max-width: 767px),
      (max-device-width: 767px) {
        background-color: @linkColorPrimary;
        margin-bottom: -9px;
      }
    }
  }
}

.ProjectArchive {
  @media
  (min-width: 768px) {
    padding: 1em 0;
  }

  .row {
    @media
    (min-width: 768px) {
      margin-top: 2em !important;
    }
  }

  .Date {
    margin-bottom: 12px;

    @media
    (min-width: 768px) {
      margin-top: -5px !important;
    }
  }

  .lead p,
  .lead,
  p.lead {
    font-size: 18px;
    color: #464646;
  }

  h2 {
    margin-top: 0 !important;
    font-size: 2em;

    @media
    (max-width: 991px),
    (max-device-width: 991px) {
      margin-top: 0 !important;
      margin-bottom: 12px !important;
    }

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      margin-bottom: 0 !important;
    }
  }

  a.MoreInformation {
    font-size: 16px;
    border-radius: 19px;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
      font-size: 18px;
    }
  }

  .ProjectArchiveRowBottomBorder {
    border-bottom: 2px solid #f3f3f3;
    margin-top: -1px;
  }

  .CoverImage {
    @media
    (min-width: 768px) {
      margin-bottom: 0 !important;
    }
  }
}
