// ProjectMaster.less

@import '../../variables.less';
@import '../../less-mixins-and-utils.less';
@import '../Project.less';

.Project.ProjectMaster {
  .CommonMasterStyles;
}

.ProjectMasterContainer {
  &.Compact {
    border-bottom: 1px solid @accentColorSecondary;
    padding-bottom: 1.5em;

    @media
    (max-width: 767px),
    (max-device-width: 767px) {
    	padding-bottom: 0.5em;
    }
  }
}
